:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: rgba(255, 255, 255, 0.87);
  background-color: rgb(35, 51, 72);

  --lumo-secondary-text-color: rgba(255, 255, 255, 0.87);
  --vaadin-input-field-value-color:  rgba(255, 255, 255, 0.87);;
  --vaadin-input-field-readonly-border: 1px dashed  rgba(255, 255, 255, 0.87);
  --vaadin-input-field-icon-color: rgba(255, 255, 255, 0.87);
  --vaadin-input-field-background: #37485f;
  --vaadin-input-field-focused-label-color:rgba(255, 255, 255, 0.87);
  --vaadin-input-field-hovered-label-color: rgba(255, 255, 255, 0.87);
  --vaadin-input-field-background:  #37485f;
  --vaadin-input-field-label-color: rgba(255, 255, 255, 0.87);
  
}

body {

  display: flex;
  align-items: center;
  justify-content: center;
}




